ul {
   list-style-type: none;
}

.navigation{
   overflow-y: auto;
   position: relative;
   text-align: center;
   width: 100%
   display: inline;
   font-family: 'Cabin', sans-serif;
}

h1{
   color: Black;
   background-color: NavajoWhite;
   font-family: Courier New, sans-serif;
   font-size: 48px;
   border: 1px solid Black;
   padding: 30px 30px;
   text-align: center;
}

p {
    font-family: Courier New, sans-serif;
    font-size: 16px;
    text-align: center;
}

